<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            <title>{% block title %}{% endblock %}</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css', _external=True) }}">
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        </head>
    {% endblock %}
<body>
    <div class="container-fluid">
		<nav class="navbar navbar-default row">
			<div class="container-fluid">
				<div class="navbar-header">
					<h1 class="navbar-brand">[Learning To Code] - Running Instances</h1>
				</div>
			</div>
		</nav>
    	<div class="row">
        	<div class="col-md-1"></div>
        	<div class="col-md-10">{% block content %}{% endblock %}</div>
        	<div class="col-md-1"></div>
    	</div>
    	<div class="row panel-footer">Thabile V. </div>
    </div>
</body>